.lecture.active,
.tag.lecture {
  background-color: hsl(171, 100%, 41%);
  color: #fff;
}
.party.active,
.tag.party {
  background-color: hsl(204, 86%, 53%);
  color: #fff;
}
.gathering.active,
.tag.gathering {
  background-color: hsl(217, 71%, 53%);
  color: #fff;
}
.sale.active,
.tag.sale {
  background-color: hsl(141, 71%, 48%);
  color: #fff;
}
.needhelp.active,
.tag.needhelp {
  background-color: hsl(48, 100%, 67%);
  color: #fff;
}
.lostfound.active,
.tag.lostfound {
  background-color: hsl(348, 100%, 61%);
  color: #fff;
}
